<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="govuk-template__body">
    <main class="govuk-main-wrapper" id="main-content">
      <div class="govuk-width-container">
        <h1>{{ pageTitle }}</h1>

        <p>
          Use this service to create, view, update and delete caseworker tasks.
        </p>

        <p>
          Frontend skeleton is running successfully.
        </p>
      </div>
    </main>
  </body>
</html>